body {
  background-color: rgba(0, 0, 0, 0.774);

  margin: 0px;
}

.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block {
  width: 250px;
  height: 250px;
  background-color: red;
}

.orbit {
  height: 50px;
  width: 50px;
  background-color: aqua;
  border-radius: 50%;
  position: absolute;
}

@keyframes move {
  from {
    transform: rotate(0deg) translateX(250px);
  }
  to {
    transform: rotate(360deg) translateX(250px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .orbit {
    animation: move 5s linear infinite;
  }

  .block {
    animation: rotate 2s linear infinite;
  }
}
