body {
  background-color: rgba(137, 176, 244, 0.774);

  margin: 0px;
}

.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
}
.square {
  width: 250px;
  height: 250px;
  background-color: red;
  cursor: pointer;
  position: absolute;
  border-radius: 20px;
}
